
			<div class="row">
				<!--main class="col-md-12"-->
					<!-- Start your code here -->					
					<!-- End your code here  -->
				<!--/main-->
				<h2><em>About myself: </em></h2>
				<h3>
					<br>
					My name is Guo Fu Ge and I am a student in DAD program at Seneca
				</h3>
			</div>
