<!DOCTYPE html>
<html lang="en">
    <head>
        <meta  charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale-1.0">
        <title>
            WEB700
        </title>
        </head>
    <body>
        WELCOME TO ASSIGNMENT 3
        <p>
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        </p>
        <p>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </p>
        <p>
            <li class="nav-item"><a class="nav-link" href=" /htmlDemo"> HTML Demo</a></li>
        </p>  
        <p>
            <li class="nav-item"><a class="nav-link" href="/employees"> All Employees</a></li>
        </p>
        <p>
            <li class="nav-item"><a class="nav-link" href="/employees?department=2">Employees by Department </a></li>
        </p>
        <p>
            <li class="nav-item"><a class="nav-link" href="/employees/2">Single Employee By Employee Number</a></li>
        </p>
        <p>
            <li class="nav-item"><a class="nav-link" href="/managers"> All Managers</a></li>
        </p>       
        <p>
            <li class="nav-item"><a class="nav-link" href="/departments">All Departments</a></li>
        </p>

    </body>
</html>